@model IEnumerable<ApplicationUser>

<h2>Physician List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td><a asp-controller="Timeslots" asp-action="Index" asp-route-itemid="@item.Id">See Availbility</a></td>
                <!-- Add more fields as necessary -->
            </tr>
        }
    </tbody>
</table>