@model IEnumerable<EasyImagery.Models.Timeslot>
@using System.Text.Json
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My Timeslots";
}

@section scripts {
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script>
        function convertToLocaleTimeString(date) {
            let localTimeString = date.getFullYear() + '-' +
                (date.getMonth() + 1).toString().padStart(2, '0') + '-' +
                date.getDate().toString().padStart(2, '0') + ' ' +
                date.getHours().toString().padStart(2, '0') + ':' +
                date.getMinutes().toString().padStart(2, '0') + ':' +
                date.getSeconds().toString().padStart(2, '0');

            return localTimeString;
        }

        function openTimeslotModal(info) {
            document.getElementById('timeslotIdInput').value = info.event.id;
            document.getElementById('timeslotDescription').textContent = info.event.title;
            document.getElementById('timeslotStart').textContent = "Session Begin: " + convertToLocaleTimeString(info.event.start);
            document.getElementById('timeslotEnd').textContent = "Session End: " + convertToLocaleTimeString(info.event.end);

            if (info.event.extendedProps.patient) {
                document.getElementById('timeslotPatient').textContent = "Booked By: " + info.event.extendedProps.patient;
                document.getElementById('timeslotCancelBtn').style.display = 'block';
            } else {
                document.getElementById('timeslotPatient').textContent = "Available for Booking";
                document.getElementById('timeslotCancelBtn').style.display = 'none';
            }

            const modal = new bootstrap.Modal(document.getElementById('timeslotModal'));
            modal.show();
        }

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            const exampleModal = document.getElementById('timeslotModal')

            var events = @Json.Serialize(Model.Select(m => new {
                id = m.Id,
                title = m.Description,
                start = m.StartDate,
                end = m.EndDate,
                backgroundColor = m.PatientId != null ? "#76818d": "#3788d8",
                extendedProps = new {
                    patient = m.Patient?.UserName ?? "Not booked yet",
                    rating = m.Rating,
                    imageData = m.ImageData
                }
            }));

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: { center: 'dayGridMonth,timeGridWeek' },
                initialView: 'timeGridWeek',
                events: events,
                eventClick: function (info) {
                    openTimeslotModal(info);
                }
            });

            calendar.render();
        });
    </script>
}

@section styles {
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.min.css' rel='stylesheet' />
}


<h1>My Appointments</h1>

<a class="btn btn-primary my-2" role="button" asp-area="" asp-controller="Timeslots" asp-action="Create">Add Timeslot</a>

<a class="btn btn-success my-2" role="button" asp-area="" asp-controller="Timeslots" asp-action="ExportTimeslots" asp-route-physicianId="@UserManager.GetUserId(User)" asp-route-format="csv">Export as CSV</a>
<a class="btn btn-success my-2" role="button" asp-area="" asp-controller="Timeslots" asp-action="ExportTimeslots" asp-route-physicianId="@UserManager.GetUserId(User)" asp-route-format="xlsx">Export as Excel</a>

<div id='calendar'></div>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>
                    @if (item.PatientId != null)
                    {
                        @: Booked by @item.Patient.UserName
                    }
                    else
                    {
                        @: Available
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                <td>
                    @if (item.PatientId != null)
                    {
                        <form id="cancelAppointmentForm" method="post" action="/Appointments/CancelAppointmentFromPhysician">
                            <input type="hidden" name="timeslotId" id="timeslotIdInput" value="@item.Id" />
                        </form>
                        <button id="timeslotCancelBtn" type="submit" form="cancelAppointmentForm" class="btn btn-danger">Cancel Appointment</button>
                    }
                </td>
                <td>
                    <a role="button" class="btn btn-primary" asp-controller="Timeslots" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="timeslotModal" tabindex="-1" aria-labelledby="timeslotModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="timeslotModalLabel">Timeslot Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="timeslotDescription"></p>
                <p id="timeslotStart"></p>
                <p id="timeslotEnd"></p>
                <p id="timeslotPatient"></p>
                <form id="cancelAppointmentForm" method="post" action="/Appointments/CancelAppointmentFromPhysician">
                    <input type="hidden" name="timeslotId" id="timeslotIdInput" value="" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="timeslotCancelBtn" type="submit" form="cancelAppointmentForm" class="btn btn-danger">Cancel Appointment</button>
            </div>
        </div>
    </div>
</div>